body {
    background-color: #4e4376;
}
.clock-container {
    background: linear-gradient(135deg, #af2525, #4e4376);
    color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    min-width: 300px;
}
h1 {
    font-family: 'Courier New', monospace;
    font-size: 3rem;
}